## imports

In [1]:
import pandas
import numpy
from matplotlib import pyplot
from pandas.plotting import scatter_matrix
import mysql.connector
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor,ExtraTreeRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error
import joblib
import datetime
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.vector_ar.var_model import VAR

%matplotlib qt

## Database Connection and data Fetching

In [2]:
with open('../config.env') as f:
    credentials=f.read()
credentials=credentials.split(" ")
con = mysql.connector.connect(username=credentials[0],password=credentials[1],host=credentials[2],port=credentials[3],database=credentials[4])
query=con.cursor()

In [3]:
sql="SELECT * FROM total_india_cases"
query.execute(sql)
result=query.fetchall()
column=[columns[0] for columns in query.description]
india_data=pandas.DataFrame(result,columns=column)

In [4]:
india_data

,index_no,date,ordinal_date,total_confirmed,total_active,total_recovered,total_deaths,total_tested,total_vaccinated1,total_vaccinated2,...,delta7_confirmed,delta7_active,delta7_recovered,delta7_deaths,delta7_tested,delta7_vaccinated1,delta7_vaccinated2,total_other,delta_other,delta7_other
0,1,2020-01-30,737454,1,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1,2,2020-02-02,737457,2,2,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
2,3,2020-02-03,737458,3,3,0,0,0,0,0,...,3,3,0,0,0,0,0,0,0,0
3,4,2020-02-14,737469,3,0,3,0,0,0,0,...,0,-3,3,0,0,0,0,0,0,0
4,5,2020-03-02,737486,5,2,3,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,582,2021-09-29,738062,33738217,269744,33007340,448094,568956439,646473741,236996837,...,176115,-25088,199126,2013,10589426,27960741,21519788,13039,9,64
581,583,2021-09-30,738063,33765502,268540,33035544,448372,570477338,650229045,239978962,...,171989,-24862,194820,1973,10544629,27326652,21363329,13046,7,58
582,584,2021-10-01,738064,33789420,266757,33061004,448605,571994990,654331744,243149810,...,166342,-27862,192231,1915,10333607,27156870,21395524,13054,8,58
583,585,2021-10-02,738065,33812609,263763,33086942,448847,573260724,658277760,246897588,...,161362,-32730,192148,1898,10017479,27446675,21647146,13057,3,46
584,586,2021-10-03,738066,33834253,258495,33113666,449029,574252400,659815128,248117733,...,156007,-35089,189247,1804,9844149,26598842,21175008,13063,6,45

In [5]:
sql="SELECT * FROM total_state_cases WHERE state_name='MH'"
query.execute(sql)
result=query.fetchall()
column=[columns[0] for columns in query.description]
maharashtra_data=pandas.DataFrame(result,columns=column)

In [6]:
maharashtra_data

,index_no,date,ordinal_date,state_name,total_confirmed,total_active,total_recovered,total_deaths,total_tested,total_vaccinated1,...,delta7_confirmed,delta7_active,delta7_recovered,delta7_deaths,delta7_tested,delta7_vaccinated1,delta7_vaccinated2,total_other,delta_other,delta7_other
0,52,2020-03-09,737493,MH,2,2,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
1,64,2020-03-10,737494,MH,5,5,0,0,0,0,...,5,5,0,0,0,0,0,0,0,0
2,76,2020-03-11,737495,MH,11,11,0,0,0,0,...,11,11,0,0,0,0,0,0,0,0
3,89,2020-03-12,737496,MH,14,14,0,0,0,0,...,14,14,0,0,0,0,0,0,0,0
4,102,2020-03-13,737497,MH,17,17,0,0,0,0,...,17,17,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,19917,2021-09-29,738062,MH,6547793,36675,6368530,139011,58884819,57091306,...,16556,-3309,19501,347,1408677,2729841,2110890,3577,4,17
570,19953,2021-09-30,738063,MH,6550856,36484,6371728,139067,58739974,57633028,...,16299,-2707,18649,342,1093459,2820452,2153323,3577,0,15
571,19989,2021-10-01,738064,MH,6553961,36371,6374892,139117,58910564,58110270,...,16118,-2120,17880,341,1091179,3013433,2263721,3581,4,17
572,20025,2021-10-02,738065,MH,6556657,35955,6377954,139166,59074660,58553667,...,15538,-2029,17219,332,1082650,3140902,2288397,3582,1,16
573,20061,2021-10-03,738066,MH,6559349,35889,6380670,139206,59222263,58617761,...,15024,-1971,16643,336,1064263,3074610,2251363,3584,2,16

In [7]:
sql="SELECT * FROM total_district_cases WHERE district_name='Raigad'"
query.execute(sql)
result=query.fetchall()
column=[columns[0] for columns in query.description]
raigad_data=pandas.DataFrame(result,columns=column)

In [8]:
raigad_data

,index_no,date,ordinal_date,state_name,district_name,total_confirmed,total_active,total_recovered,total_deaths,delta_confirmed,...,delta7_deaths,total_vaccinated1,total_vaccinated2,delta_vaccinated1,delta_vaccinated2,delta7_vaccinated1,delta7_vaccinated2,total_other,delta_other,delta7_other
0,19918,2020-04-26,737541,MH,Raigad,57,36,20,1,0,...,0,0,0,0,0,0,0,0,0,0
1,20334,2020-04-27,737542,MH,Raigad,61,39,21,1,4,...,0,0,0,0,0,0,0,0,0,0
2,20759,2020-04-28,737543,MH,Raigad,66,44,21,1,5,...,0,0,0,0,0,0,0,0,0,0
3,21189,2020-04-29,737544,MH,Raigad,69,44,23,2,3,...,1,0,0,0,0,0,0,0,0,0
4,21623,2020-04-30,737545,MH,Raigad,71,44,24,3,2,...,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,379646,2021-09-29,738062,MH,Raigad,192684,1070,187098,4509,157,...,6,1497575,596105,45182,16086,112372,59902,7,0,0
522,380393,2021-09-30,738063,MH,Raigad,192810,1077,187216,4510,126,...,6,1523225,605831,25650,9726,131856,64441,7,0,0
523,381140,2021-10-01,738064,MH,Raigad,192930,977,187435,4511,120,...,7,1551617,615525,28392,9694,157100,70365,7,0,0
524,381887,2021-10-02,738065,MH,Raigad,193070,836,187715,4512,140,...,6,1567578,625129,15961,9604,133527,60062,7,0,0
525,382634,2021-10-03,738066,MH,Raigad,193192,854,187819,4512,122,...,6,1571674,627932,4096,2803,132433,59829,7,0,0

## function for traintest_splitting and next 7 days ordinal_date creating

In [9]:
def splitting(data,training_ratio):
    length=len(data)
    traing_indexes=int(length*training_ratio)
    training_set=data[:traing_indexes]
    testing_set=data[traing_indexes:]
    return training_set,testing_set

In [106]:
def returnNext7days():
    date=738066
    date_range=[]
    l=[]
    for i in range(1,8):
        l.append([date+i])
        date_range.append(datetime.date.fromordinal(date+i))
    return l,date_range
predictingdate,daterange=returnNext7days()

## Train Test Splitting

In [11]:
# maindata=india_data
# maindata=maharashtra_data
maindata=raigad_data

In [12]:
maindata_labels=maindata['delta_confirmed']

In [13]:
maindata

,index_no,date,ordinal_date,state_name,district_name,total_confirmed,total_active,total_recovered,total_deaths,delta_confirmed,...,delta7_deaths,total_vaccinated1,total_vaccinated2,delta_vaccinated1,delta_vaccinated2,delta7_vaccinated1,delta7_vaccinated2,total_other,delta_other,delta7_other
0,19918,2020-04-26,737541,MH,Raigad,57,36,20,1,0,...,0,0,0,0,0,0,0,0,0,0
1,20334,2020-04-27,737542,MH,Raigad,61,39,21,1,4,...,0,0,0,0,0,0,0,0,0,0
2,20759,2020-04-28,737543,MH,Raigad,66,44,21,1,5,...,0,0,0,0,0,0,0,0,0,0
3,21189,2020-04-29,737544,MH,Raigad,69,44,23,2,3,...,1,0,0,0,0,0,0,0,0,0
4,21623,2020-04-30,737545,MH,Raigad,71,44,24,3,2,...,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,379646,2021-09-29,738062,MH,Raigad,192684,1070,187098,4509,157,...,6,1497575,596105,45182,16086,112372,59902,7,0,0
522,380393,2021-09-30,738063,MH,Raigad,192810,1077,187216,4510,126,...,6,1523225,605831,25650,9726,131856,64441,7,0,0
523,381140,2021-10-01,738064,MH,Raigad,192930,977,187435,4511,120,...,7,1551617,615525,28392,9694,157100,70365,7,0,0
524,381887,2021-10-02,738065,MH,Raigad,193070,836,187715,4512,140,...,6,1567578,625129,15961,9604,133527,60062,7,0,0
525,382634,2021-10-03,738066,MH,Raigad,193192,854,187819,4512,122,...,6,1571674,627932,4096,2803,132433,59829,7,0,0

In [14]:
train_data,test_data=splitting(maindata,0.98)

In [15]:
train_labels=train_data['delta_confirmed']
# train_labels=train_data['total_confirmed']

In [16]:
# india_train_labels

In [17]:
train_features=train_data[['ordinal_date']]
# train_fetures=train_data[['ordinal_date','delta_tested']]

In [18]:
train_features

     ordinal_date
0          737541
1          737542
2          737543
3          737544
4          737545
..            ...
510        738051
511        738052
512        738053
513        738054
514        738055

[515 rows x 1 columns]

In [19]:
# train_labels

In [20]:
test_labels=test_data['delta_confirmed']
# test_labels=test_data['total_confirmed']

In [21]:
# test_labels

In [22]:
test_features=test_data[['ordinal_date']]
# test_features=test_data[['ordinal_date','delta_tested']]

In [23]:
# test_features

In [24]:
# print(predictingdate)
# print(daterange)

## Model Implementation 
1. Linear Regression
2. Random Forest Regression
3. Decision Tree Regression
4. Extra Tree Regression

In [28]:
linear_regression_model=LinearRegression()
random_forest_model=RandomForestRegressor()
decision_tree_model=DecisionTreeRegressor()
extra_tree_model=ExtraTreeRegressor()

#### Linear regression

In [29]:
linear_regression_model.fit(train_features,train_labels)

LinearRegression()

In [30]:
linear_regression_model_train_predicted=linear_regression_model.predict(train_features)

In [31]:
# linear_regression_model_train_predicted

In [32]:
linear_regression_model_test_predicted=linear_regression_model.predict(test_features)

In [33]:
# linear_regression_model_test_predicted

In [34]:
linear_regression_model_next_7_days_predicted=linear_regression_model.predict(predictingdate)

In [147]:
# linear_regression_model_next_7_days_predicted

In [148]:
pyplot.figure('linear regression')
line_of_regression=numpy.concatenate((linear_regression_model_train_predicted,linear_regression_model_test_predicted))
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(maindata['date'],line_of_regression,label='Line of Regression')
pyplot.plot(train_data['date'],linear_regression_model_train_predicted,label='Train Data')
pyplot.plot(test_data['date'],linear_regression_model_test_predicted,label='Test Data')
pyplot.plot(daterange,linear_regression_model_next_7_days_predicted,label='Future Prediction')
pyplot.legend()
pyplot.show()

#### Ramdom Forest Regression regression

In [35]:
random_forest_model.fit(train_features,train_labels)

RandomForestRegressor()

In [36]:
random_forest_model_train_predicted=random_forest_model.predict(train_features)

In [37]:
# random_forest_model_train_predicted

In [38]:
random_forest_model_test_predicted=random_forest_model.predict(test_features)

In [39]:
# random_forest_model_test_predicted

In [40]:
random_forest_model_next_7_days_predicted=random_forest_model.predict(predictingdate)

In [155]:
# random_forest_model_next_7_days_predicted

In [156]:
pyplot.figure('random forest regression')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],random_forest_model_train_predicted,label='Train Data')
pyplot.plot(test_data['date'],random_forest_model_test_predicted,label='Test Data')
pyplot.plot(daterange,random_forest_model_next_7_days_predicted,label='Future Prediction')
pyplot.legend()
pyplot.show()

#### Decision Tree regression

In [41]:
decision_tree_model.fit(train_features,train_labels)

DecisionTreeRegressor()

In [42]:
decision_tree_model_train_predicted=decision_tree_model.predict(train_features)

In [43]:
# decision_tree_model_train_predicted

In [44]:
decision_tree_model_test_predicted=decision_tree_model.predict(test_features)

In [45]:
# decision_tree_model_test_predicted

In [46]:
decision_tree_model_next_y_days_predicted=decision_tree_model.predict(predictingdate)

In [163]:
# decision_tree_model_next_y_days_predicted

In [49]:
pyplot.figure('Decision tree regression')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],decision_tree_model_train_predicted,label='Train Data')
pyplot.plot(test_data['date'],decision_tree_model_test_predicted,label='Test Data')
pyplot.plot(daterange,decision_tree_model_next_y_days_predicted,label='Future Prediction')
pyplot.legend()
pyplot.show()

#### Extra Tree regression

In [47]:
extra_tree_model.fit(train_features,train_labels)

ExtraTreeRegressor()

In [48]:
extra_tree_model_train_predicted=extra_tree_model.predict(train_features)

In [49]:
# extra_tree_model_train_predicted

In [50]:
extra_tree_model_test_predicted=extra_tree_model.predict(test_features)

In [51]:
# extra_tree_model_test_predicted

In [52]:
extra_tree_model_next_7_days_predicted=extra_tree_model.predict(predictingdate)

In [56]:
# extra_tree_model_next_7_days_predicted

In [57]:
pyplot.figure('Extra tree regression')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],extra_tree_model_train_predicted,label='Train Data')
pyplot.plot(test_data['date'],extra_tree_model_test_predicted,label='Test Data')
pyplot.plot(daterange,extra_tree_model_next_7_days_predicted,label='Future Prediction')
pyplot.legend()
pyplot.show()

## Evaluation
    model
    train : mean_absolute_error     root_mean_squared_error
    test :  mean_absolute_error     root_mean_squared_error

In [53]:
print('linear regrassion')
print(mean_absolute_error(linear_regression_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(linear_regression_model_train_predicted,train_labels)))
print(mean_absolute_error(linear_regression_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(linear_regression_model_test_predicted,test_labels)))

linear regrassion
283.0350918400663 367.4276928101792
411.59635891780175 412.09389937938204

In [54]:
print('random forest regrassion')
print(mean_absolute_error(random_forest_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(random_forest_model_train_predicted,train_labels)))
print(mean_absolute_error(random_forest_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(random_forest_model_test_predicted,test_labels)))

random forest regrassion
25.455611650485437 47.57074254223301
16.747272727272726 20.138006581856832

In [55]:
print('Decision Tree regression')
print(mean_absolute_error(decision_tree_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(decision_tree_model_train_predicted,train_labels)))
print(mean_absolute_error(decision_tree_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(decision_tree_model_test_predicted,test_labels)))

Decision Tree regression
0.0 0.0
17.545454545454547 22.98813923427787

In [56]:
print('Extra Tree Regression')
print(mean_absolute_error(extra_tree_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(extra_tree_model_train_predicted,train_labels)))
print(mean_absolute_error(extra_tree_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(extra_tree_model_test_predicted,test_labels)))

Extra Tree Regression
0.0 0.0
17.545454545454547 22.98813923427787

## Polynomial Regression

In [62]:
# pyplot.scatter(train_features,train_labels)

In [57]:
def polynomial_regrassion_model(degree_of_equation=1):
    polynomial=PolynomialFeatures(degree=degree_of_equation)
    polynomial_train_data=polynomial.fit_transform(train_features.to_numpy())
    polynomial_test_data=polynomial.fit_transform(test_features.to_numpy())
    polynomial_future_test_data=polynomial.fit_transform(predictingdate)
    polynomial_regression=LinearRegression()
    polynomial_regression.fit(polynomial_train_data,train_labels)
    polynomial_regression_model_train_predicted=polynomial_regression.predict(polynomial_train_data)
    polynomial_regression_model_test_predicted=polynomial_regression.predict(polynomial_test_data)
    polynomial_regression_model_nest_7_days_predicted=polynomial_regression.predict(polynomial_future_test_data)
#     print('Train Data Prediction')
#     print(polynomial_regression_model_train_predicted)
#     print('\n\n\nTest Data Prediction')
#     print(polynomial_regression_model_test_predicted)
#     print('\n\n\nFuture Data Prediction')
#     print(polynomial_regression_model_nest_7_days_predicted)
#     print('\n\n\n')
    print('{} degree Polynomial regression'.format(degree_of_equation))
    print(mean_absolute_error(polynomial_regression_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(polynomial_regression_model_train_predicted,train_labels)))
    print(mean_absolute_error(polynomial_regression_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(polynomial_regression_model_test_predicted,test_labels)))
    pyplot.figure('{} degree Polynomial regression'.format(degree_of_equation))
    pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
    pyplot.plot(train_data['date'],polynomial_regression_model_train_predicted,label='Train Data')
    pyplot.plot(test_data['date'],polynomial_regression_model_test_predicted,label='Test Data')
    pyplot.plot(daterange,polynomial_regression_model_nest_7_days_predicted,label='Future Prediction')
    pyplot.legend()
    pyplot.show()

In [58]:
# polynomial_regrassion_model()

In [59]:
polynomial_regrassion_model(2)

2 degree Polynomial regression
276.3802224159241 361.48684801385497
254.8866225155917 255.54079606195526

In [60]:
polynomial_regrassion_model(3)

3 degree Polynomial regression
276.379019039117 361.48503288328817
254.83921189741656 255.4934679097837

In [61]:
polynomial_regrassion_model(4)

4 degree Polynomial regression
276.3778160245673 361.48321684386343
254.79218472675845 255.44652233877613

In [179]:
polynomial_regrassion_model(5)

5 degree Polynomial regression
277.54133528400735 362.38945785826195
287.2486034469171 287.87667181210423

In [62]:
polynomial_regrassion_model(6)

6 degree Polynomial regression
276.37540626441967 361.4795820176879
254.6980803310871 255.35258136262445

# Forcasting Models

In [107]:
# import warnings
# warnings.filterwarnings('ignore')

In [108]:
forcasting_data_features=maindata[['date','delta_confirmed']]

forcasting_train_data_features=train_data[['date','delta_confirmed']]

forcasting_test_data_features=test_data[['date','delta_confirmed']]

In [109]:
forcasting_data_features['date']=pandas.to_datetime(forcasting_data_features['date'])

forcasting_train_data_features['date']=pandas.to_datetime(forcasting_train_data_features['date'])

forcasting_test_data_features['date']=pandas.to_datetime(forcasting_test_data_features['date'])

<ipython-input-109-7a0089d374bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_data_features['date']=pandas.to_datetime(forcasting_data_features['date'])
<ipython-input-109-7a0089d374bb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_train_data_features['date']=pandas.to_datetime(forcasting_train_data_features['date'])
<ipython-input-109-7a0089d374bb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_test_data_features['date']=pandas.to_datetime(forcasting_test_data_features['date'])

In [110]:
forcasting_data_features=forcasting_data_features.set_index('date')

forcasting_train_data_features=forcasting_train_data_features.set_index('date')

forcasting_test_data_features=forcasting_test_data_features.set_index('date')

In [111]:
# forcasting_data_features

In [112]:
# forcasting_train_data_features

In [113]:
# forcasting_test_data_features

## ARIMA model

In [114]:
main_arima_model = ARIMA(forcasting_data_features,order=(5,0,3))
train_arima_model = ARIMA(forcasting_train_data_features,order=(5,0,3))

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'

In [115]:
main_arima_fit_model=main_arima_model.fit()
train_arima_fit_model=train_arima_model.fit()

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\statespace\sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\statespace\sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [116]:
main_arima_fit_model_predicted=main_arima_fit_model.predict()
train_arima_fit_model_predicted=train_arima_fit_model.predict()
test_arima_predicted=train_arima_fit_model.forecast(steps=len(forcasting_test_data_features))

In [117]:
arima_model_forcast=main_arima_fit_model.forecast(steps=7)

In [118]:
# main_arima_fit_model_predicted
# train_arima_fit_model_predicted
# test_arima_predicted
arima_model_forcast

2021-10-04    125.689693
2021-10-05    137.998759
2021-10-06    141.005693
2021-10-07    134.614140
2021-10-08    147.632227
2021-10-09    140.636921
2021-10-10    148.903543
Freq: D, Name: predicted_mean, dtype: float64

In [141]:
# pyplot.figure('ARIMA model Forcasting')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],train_arima_fit_model_predicted,label='Train Data')
pyplot.plot(test_data['date'],test_arima_predicted,label='Test Data')
pyplot.plot(daterange,arima_model_forcast,label='ARIMA Future Prediction')
pyplot.legend()
pyplot.show()

In [120]:
print(mean_absolute_error(train_arima_fit_model_predicted,train_labels),numpy.sqrt(mean_squared_error(train_arima_fit_model_predicted,train_labels)))
print(mean_absolute_error(test_arima_predicted,test_labels),numpy.sqrt(mean_squared_error(test_arima_predicted,test_labels)))

76.02358105865368 130.33387172721095
24.116503191991015 31.404988512543934

In [121]:
train_data['ordinal_date']

0      737541
1      737542
2      737543
3      737544
4      737545
        ...
510    738051
511    738052
512    738053
513    738054
514    738055
Name: ordinal_date, Length: 515, dtype: int64

In [122]:
try_data=numpy.concatenate((maindata['ordinal_date'].to_numpy(),predictingdate),axis=None)

In [123]:
# test_arima_predicted.to_numpy()

In [124]:
# train_data['ordinal_date'].to_numpy()

In [125]:
try_data[-20:]

array([738054, 738055, 738056, 738057, 738058, 738059, 738060, 738061,
       738062, 738063, 738064, 738065, 738066, 738067, 738068, 738069,
       738070, 738071, 738072, 738073], dtype=int64)

In [126]:
try_labels=numpy.concatenate((maindata_labels,arima_model_forcast))

In [127]:
try_labels[-20:]

array([138.        , 150.        , 164.        , 131.        ,
       149.        , 156.        ,  97.        , 151.        ,
       157.        , 126.        , 120.        , 140.        ,
       122.        , 125.68969345, 137.99875949, 141.00569339,
       134.61414006, 147.63222714, 140.63692054, 148.9035433 ])

In [128]:
random_forest_model.fit(pandas.DataFrame(try_data),try_labels)

RandomForestRegressor()

In [129]:
random_forest_model.predict(pandas.DataFrame(try_data))

array([1.43000000e+00, 3.19000000e+00, 4.46000000e+00, 3.47000000e+00,
       2.49000000e+00, 2.73000000e+00, 3.05000000e+00, 8.09000000e+00,
       2.07800000e+01, 4.31900000e+01, 2.39600000e+01, 2.18000000e+01,
       1.57400000e+01, 1.22600000e+01, 8.80000000e+00, 2.25700000e+01,
       1.83000000e+01, 2.77000000e+01, 2.46300000e+01, 4.69000000e+01,
       3.11400000e+01, 2.94000000e+01, 2.80500000e+01, 3.22900000e+01,
       2.67700000e+01, 2.44000000e+01, 2.54000000e+01, 3.77300000e+01,
       9.14600000e+01, 6.89600000e+01, 5.66100000e+01, 5.28400000e+01,
       4.93200000e+01, 5.27300000e+01, 4.71900000e+01, 5.87800000e+01,
       4.83200000e+01, 5.31700000e+01, 4.22100000e+01, 5.18400000e+01,
       6.05600000e+01, 4.94900000e+01, 3.55500000e+01, 2.70400000e+01,
       4.01600000e+01, 6.26100000e+01, 6.40700000e+01, 7.10300000e+01,
       7.14600000e+01, 7.93100000e+01, 6.72300000e+01, 5.47900000e+01,
       8.56900000e+01, 9.68700000e+01, 1.02650000e+02, 1.25420000e+02,
       1.26890000e+02, 1.09650000e+02, 9.78900000e+01, 1.55440000e+02,
       1.87700000e+02, 1.82440000e+02, 2.28380000e+02, 2.05680000e+02,
       2.60840000e+02, 2.75860000e+02, 2.98170000e+02, 3.21550000e+02,
       3.46420000e+02, 3.42400000e+02, 2.81570000e+02, 2.68610000e+02,
       2.80900000e+02, 3.15170000e+02, 4.19200000e+02, 4.46490000e+02,
       4.14810000e+02, 4.31610000e+02, 4.00620000e+02, 3.00830000e+02,
       4.36510000e+02, 4.45780000e+02, 4.16210000e+02, 4.03120000e+02,
       4.86490000e+02, 4.40880000e+02, 3.62180000e+02, 4.27040000e+02,
       4.83660000e+02, 4.86730000e+02, 4.84580000e+02, 4.80080000e+02,
       4.32350000e+02, 3.38070000e+02, 4.30730000e+02, 4.27950000e+02,
       3.97230000e+02, 4.06570000e+02, 3.97640000e+02, 3.89450000e+02,
       3.13230000e+02, 4.05670000e+02, 4.27270000e+02, 4.28710000e+02,
       4.10410000e+02, 4.18990000e+02, 3.60950000e+02, 4.14920000e+02,
       4.29380000e+02, 4.82020000e+02, 5.00880000e+02, 6.45230000e+02,
       4.80590000e+02, 3.13520000e+02, 3.97760000e+02, 4.88490000e+02,
       5.71180000e+02, 5.57900000e+02, 4.86600000e+02, 3.77600000e+02,
       3.10280000e+02, 2.89790000e+02, 4.84610000e+02, 5.33820000e+02,
       5.36990000e+02, 5.62770000e+02, 5.52100000e+02, 4.88840000e+02,
       5.20500000e+02, 6.92600000e+02, 7.33150000e+02, 7.99730000e+02,
       9.12990000e+02, 9.16440000e+02, 7.15320000e+02, 8.06450000e+02,
       1.02024000e+03, 9.33620000e+02, 1.00198000e+03, 9.83470000e+02,
       9.16910000e+02, 7.91980000e+02, 7.22110000e+02, 7.50810000e+02,
       8.01790000e+02, 6.90790000e+02, 5.18930000e+02, 5.98350000e+02,
       4.42540000e+02, 5.16230000e+02, 6.82930000e+02, 5.81550000e+02,
       5.86310000e+02, 5.33300000e+02, 4.99480000e+02, 4.08850000e+02,
       4.16020000e+02, 5.36770000e+02, 5.06170000e+02, 4.96140000e+02,
       4.33780000e+02, 3.68740000e+02, 3.16180000e+02, 3.53080000e+02,
       4.02180000e+02, 3.94660000e+02, 3.78460000e+02, 3.40310000e+02,
       3.22240000e+02, 2.65270000e+02, 2.52790000e+02, 2.67060000e+02,
       2.72780000e+02, 2.60370000e+02, 2.53910000e+02, 2.18320000e+02,
       1.73140000e+02, 1.80750000e+02, 2.02940000e+02, 2.14440000e+02,
       1.91150000e+02, 1.80770000e+02, 1.51270000e+02, 1.23360000e+02,
       1.38720000e+02, 1.60730000e+02, 1.47930000e+02, 1.58650000e+02,
       1.45070000e+02, 1.39140000e+02, 1.21960000e+02, 1.26370000e+02,
       1.53340000e+02, 1.50760000e+02, 1.40970000e+02, 1.03620000e+02,
       8.33700000e+01, 6.66300000e+01, 1.15820000e+02, 1.12400000e+02,
       1.15040000e+02, 1.15320000e+02, 1.03900000e+02, 6.35600000e+01,
       4.68300000e+01, 6.10800000e+01, 1.08650000e+02, 1.38020000e+02,
       1.50830000e+02, 1.33400000e+02, 1.35020000e+02, 1.20880000e+02,
       1.49170000e+02, 1.60450000e+02, 1.55420000e+02, 1.68960000e+02,
       1.60700000e+02, 1.33110000e+02, 1.00670000e+02, 9.71900000e+01,
       1.32860000e+02, 1.26140000e+02, 1.32250000e+02, 1.37590000e+02,
       1.06800000e+02, 7.87900000e+01, 8.10500000e+01, 9.03200000e+01,
       8.28900000e+01, 8.36300000e+01, 8.73600000e+01, 7.14500000e+01,
       5.11200000e+01, 1.13510000e+02, 4.26420000e+02, 2.03970000e+02,
       1.26460000e+02, 8.87000000e+01, 7.33700000e+01, 5.34600000e+01,
       4.49300000e+01, 5.69400000e+01, 7.10200000e+01, 8.20700000e+01,
       6.41600000e+01, 6.25800000e+01, 6.09800000e+01, 6.00800000e+01,
       6.02400000e+01, 6.53600000e+01, 6.20300000e+01, 7.10600000e+01,
       1.02210000e+02, 1.87610000e+02, 1.50480000e+02, 1.21350000e+02,
       1.02780000e+02, 9.53500000e+01, 8.21800000e+01, 7.37800000e+01,
       6.41300000e+01, 5.76900000e+01, 7.60000000e+01, 8.08600000e+01,
       8.29400000e+01, 8.05100000e+01, 7.26700000e+01, 6.13900000e+01,
       5.16700000e+01, 7.59500000e+01, 6.81200000e+01, 4.84200000e+01,
       5.59300000e+01, 4.65900000e+01, 4.76600000e+01, 4.00400000e+01,
       4.55200000e+01, 6.44500000e+01, 5.92300000e+01, 5.80300000e+01,
       5.28300000e+01, 3.50700000e+01, 4.37200000e+01, 6.18000000e+01,
       5.79800000e+01, 5.74800000e+01, 5.67900000e+01, 6.50400000e+01,
       5.71700000e+01, 4.48200000e+01, 5.88800000e+01, 4.49900000e+01,
       4.89100000e+01, 6.65200000e+01, 7.15900000e+01, 6.39200000e+01,
       6.88100000e+01, 6.64400000e+01, 9.19000000e+01, 9.97600000e+01,
       9.31000000e+01, 9.89700000e+01, 9.03600000e+01, 8.30000000e+01,
       9.85100000e+01, 9.46700000e+01, 1.12530000e+02, 1.17070000e+02,
       1.17200000e+02, 1.12220000e+02, 1.09520000e+02, 1.54360000e+02,
       1.65560000e+02, 1.37080000e+02, 1.47610000e+02, 1.47140000e+02,
       1.19530000e+02, 1.23790000e+02, 1.78060000e+02, 1.87780000e+02,
       1.72680000e+02, 2.08910000e+02, 2.51790000e+02, 2.39350000e+02,
       2.56710000e+02, 3.38230000e+02, 3.27920000e+02, 3.61070000e+02,
       4.14240000e+02, 4.34080000e+02, 4.41030000e+02, 4.00970000e+02,
       5.02120000e+02, 5.85690000e+02, 5.89950000e+02, 6.15500000e+02,
       6.07560000e+02, 5.05350000e+02, 4.65340000e+02, 5.72200000e+02,
       7.34790000e+02, 8.64860000e+02, 8.62000000e+02, 1.02874000e+03,
       9.35850000e+02, 1.01742000e+03, 1.14140000e+03, 1.04960000e+03,
       1.17296000e+03, 1.20581000e+03, 1.28296000e+03, 1.15817000e+03,
       1.42991000e+03, 1.46269000e+03, 1.46410000e+03, 1.48257000e+03,
       1.58082000e+03, 1.64069000e+03, 1.48530000e+03, 1.77000000e+03,
       1.84772000e+03, 1.74420000e+03, 1.73408000e+03, 1.72486000e+03,
       1.64338000e+03, 1.30368000e+03, 1.28416000e+03, 1.59907000e+03,
       1.66658000e+03, 1.60772000e+03, 1.37114000e+03, 1.26278000e+03,
       9.61400000e+02, 1.16303000e+03, 1.43903000e+03, 1.30519000e+03,
       1.19350000e+03, 1.23007000e+03, 1.08160000e+03, 8.72160000e+02,
       8.86710000e+02, 1.00276000e+03, 9.62240000e+02, 8.88580000e+02,
       9.14900000e+02, 8.28040000e+02, 6.40190000e+02, 5.13270000e+02,
       6.71150000e+02, 7.31000000e+02, 7.22540000e+02, 7.72320000e+02,
       7.37200000e+02, 5.94000000e+02, 6.62790000e+02, 7.44110000e+02,
       6.62860000e+02, 6.83080000e+02, 6.64270000e+02, 6.49570000e+02,
       5.11100000e+02, 5.36520000e+02, 6.38130000e+02, 7.51310000e+02,
       7.56620000e+02, 7.14980000e+02, 6.28370000e+02, 5.47710000e+02,
       5.89880000e+02, 6.27840000e+02, 5.93360000e+02, 5.74470000e+02,
       6.55060000e+02, 6.19720000e+02, 4.67480000e+02, 5.67920000e+02,
       6.53920000e+02, 6.33830000e+02, 5.93580000e+02, 6.47670000e+02,
       7.19160000e+02, 5.07670000e+02, 5.77210000e+02, 7.44300000e+02,
       8.09550000e+02, 1.12104000e+03, 8.06230000e+02, 6.62350000e+02,
       4.81470000e+02, 5.79620000e+02, 6.27920000e+02, 6.22750000e+02,
       5.87500000e+02, 5.69600000e+02, 5.67710000e+02, 4.73340000e+02,
       5.62980000e+02, 6.62260000e+02, 6.37740000e+02, 5.57140000e+02,
       5.50620000e+02, 4.77710000e+02, 4.42620000e+02, 4.76270000e+02,
       4.80430000e+02, 4.53820000e+02, 4.42310000e+02, 4.93750000e+02,
       5.00360000e+02, 4.00640000e+02, 4.64510000e+02, 4.69670000e+02,
       4.12260000e+02, 3.98770000e+02, 3.02940000e+02, 3.16880000e+02,
       2.90970000e+02, 3.16290000e+02, 3.94670000e+02, 1.06259000e+03,
       6.09050000e+02, 2.43180000e+02, 2.71770000e+02, 2.23020000e+02,
       2.22240000e+02, 2.39320000e+02, 2.41870000e+02, 1.99750000e+02,
       1.83200000e+02, 1.73000000e+02, 1.77960000e+02, 2.11160000e+02,
       2.01550000e+02, 1.71680000e+02, 1.92200000e+02, 1.91760000e+02,
       1.69850000e+02, 1.26060000e+02, 1.28440000e+02, 1.37710000e+02,
       1.47430000e+02, 1.27890000e+02, 1.40420000e+02, 1.41370000e+02,
       1.20570000e+02, 1.17360000e+02, 1.44670000e+02, 1.54150000e+02,
       1.61550000e+02, 1.63470000e+02, 1.73540000e+02, 1.31490000e+02,
       1.23860000e+02, 1.28340000e+02, 1.39680000e+02, 1.51420000e+02,
       1.52560000e+02, 1.57390000e+02, 1.09320000e+02, 1.20970000e+02,
       1.48880000e+02, 2.66340000e+02, 1.91690000e+02, 1.15310000e+02,
       9.52600000e+01, 8.33600000e+01, 9.83000000e+01, 1.27360000e+02,
       1.33090000e+02, 1.44810000e+02, 1.45370000e+02, 1.47960000e+02,
       1.28000000e+02, 1.36770000e+02, 1.48040000e+02, 1.56710000e+02,
       1.39120000e+02, 1.43490000e+02, 1.47620000e+02, 1.15860000e+02,
       1.35860000e+02, 1.49100000e+02, 1.32210000e+02, 1.24470000e+02,
       1.35016897e+02, 1.27795163e+02, 1.27026079e+02, 1.36041713e+02,
       1.39430148e+02, 1.37417502e+02, 1.44119664e+02, 1.43037508e+02,
       1.46439475e+02])

## SARIMA model

In [130]:
main_sarima_model=SARIMAX(forcasting_data_features)
train_sarima_model = ARIMA(forcasting_train_data_features,order=(5,0,3))

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'

In [131]:
main_sarima_fit_model=main_sarima_model.fit()
train_sarima_fit_model=train_sarima_model.fit()

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\statespace\sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\statespace\sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [132]:
# sarima_model_fit.predict(590)
main_sarima_fit_model_predicted=main_sarima_fit_model.predict()
train_sarima_fit_model_predicted=train_sarima_fit_model.predict()
test_sarima_predicted=train_sarima_fit_model.forecast(steps=len(forcasting_test_data_features))

In [133]:
sarima_model_forcast=main_sarima_fit_model.forecast(steps=7)

In [144]:
# main_sarima_fit_model_predicted
# train_sarima_fit_model_predicted
# test_sarima_predicted
sarima_model_forcast

2021-10-04    116.816276
2021-10-05    111.852807
2021-10-06    107.100233
2021-10-07    102.549593
2021-10-08     98.192308
2021-10-09     94.020163
2021-10-10     90.025289
Freq: D, Name: predicted_mean, dtype: float64

In [143]:
pyplot.figure('SARIMA model Forcasting')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],train_sarima_fit_model_predicted,label='Train Data')
pyplot.plot(test_data['date'],test_sarima_predicted,label='Test Data')
pyplot.plot(daterange,sarima_model_forcast,label='SARIMA Future Prediction')
pyplot.legend()
pyplot.show()

In [136]:
print(mean_absolute_error(train_sarima_fit_model_predicted,train_labels),numpy.sqrt(mean_squared_error(train_sarima_fit_model_predicted,train_labels)))
print(mean_absolute_error(test_sarima_predicted,test_labels),numpy.sqrt(mean_squared_error(test_sarima_predicted,test_labels)))

76.02358105865368 130.33387172721095
24.116503191991015 31.404988512543934

116.81627636131688

## VAR Model

In [93]:
forcasting_data_features_for_VAR=maindata[['date','delta_confirmed','delta_vaccinated1','delta_vaccinated2']]
forcasting_train_data_features_for_VAR=train_data[['date','delta_confirmed','delta_vaccinated1','delta_vaccinated2']]

In [94]:
forcasting_data_features_for_VAR
# forcasting_train_data_features_for_VAR

           date  delta_confirmed  delta_vaccinated1  delta_vaccinated2
0    2020-04-26                0                  0                  0
1    2020-04-27                4                  0                  0
2    2020-04-28                5                  0                  0
3    2020-04-29                3                  0                  0
4    2020-04-30                2                  0                  0
..          ...              ...                ...                ...
521  2021-09-29              157              45182              16086
522  2021-09-30              126              25650               9726
523  2021-10-01              120              28392               9694
524  2021-10-02              140              15961               9604
525  2021-10-03              122               4096               2803

[526 rows x 4 columns]

In [95]:
forcasting_data_features_for_VAR['date']=pandas.to_datetime(forcasting_data_features_for_VAR['date'])
forcasting_train_data_features_for_VAR['date']=pandas.to_datetime(forcasting_train_data_features_for_VAR['date'])

<ipython-input-95-1b0de2c1aaa6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_data_features_for_VAR['date']=pandas.to_datetime(forcasting_data_features_for_VAR['date'])
<ipython-input-95-1b0de2c1aaa6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_train_data_features_for_VAR['date']=pandas.to_datetime(forcasting_train_data_features_for_VAR['date'])

In [96]:
# forcasting_data_features_for_VAR
forcasting_train_data_features_for_VAR

          date  delta_confirmed  delta_vaccinated1  delta_vaccinated2
0   2020-04-26                0                  0                  0
1   2020-04-27                4                  0                  0
2   2020-04-28                5                  0                  0
3   2020-04-29                3                  0                  0
4   2020-04-30                2                  0                  0
..         ...              ...                ...                ...
510 2021-09-18              145              21601               8403
511 2021-09-19              156               6999               5738
512 2021-09-20              111              13568               6078
513 2021-09-21              138              32266              13366
514 2021-09-22              150              14632               7563

[515 rows x 4 columns]

In [97]:
forcasting_data_features_for_VAR=forcasting_data_features_for_VAR.set_index('date')
forcasting_train_data_features_for_VAR=forcasting_train_data_features_for_VAR.set_index('date')

In [98]:
# forcasting_data_features_for_VAR
forcasting_train_data_features_for_VAR

            delta_confirmed  delta_vaccinated1  delta_vaccinated2
date
2020-04-26                0                  0                  0
2020-04-27                4                  0                  0
2020-04-28                5                  0                  0
2020-04-29                3                  0                  0
2020-04-30                2                  0                  0
...                     ...                ...                ...
2021-09-18              145              21601               8403
2021-09-19              156               6999               5738
2021-09-20              111              13568               6078
2021-09-21              138              32266              13366
2021-09-22              150              14632               7563

[515 rows x 3 columns]

In [99]:
main_var_model=VAR(forcasting_data_features_for_VAR)
main_var_train_model=VAR(forcasting_train_data_features_for_VAR)

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'

In [100]:
main_var_model_fit=main_var_model.fit()
main_var_train_model_fit=main_var_train_model.fit()

In [101]:
# main_var_train_model_fit.plot()

In [102]:
var_model_forcast=main_var_model_fit.forecast(main_var_model.y,steps=7)

<ipython-input-102-2bd438d2e6bb>:1: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  var_model_forcast=main_var_model_fit.forecast(main_var_model.y,steps=7)

In [103]:
var_model_forcast_data=pandas.DataFrame(var_model_forcast)

In [104]:
var_model_forcast_data

            0            1            2
0  136.823286  3893.409058  2142.133839
1  153.840091  3550.610839  1744.256164
2  170.726987  3269.201191  1509.831733
3  186.679600  3079.440216  1373.740039
4  201.475710  2964.286750  1295.590532
5  215.107033  2900.210043  1251.112583
6  227.637314  2868.277332  1226.013062

In [105]:
pyplot.figure('VAR model Forcasting')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(maindata['date'],maindata['delta_vaccinated1'],label='Original Data')
pyplot.plot(daterange,var_model_forcast_data[0],label='VAR Future Confirmed Prediction')
pyplot.plot(daterange,var_model_forcast_data[1],label='VAR Future Vaccinated1 Prediction')

pyplot.legend()
pyplot.show()